@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.ShopifyPlugin.ViewModels
@using Microsoft.AspNetCore.Routing
@using BTCPayServer.Plugins.ShopifyPlugin.Blazor
@model ShopifySettingsViewModel
@{
    ViewData.SetActivePage("Shopify", "Update Shopify Plugin Settings", "Shopify");
    Layout = "_Layout";
    bool shopifyCredsSet = Model.Step != ShopifySettingsViewModel.State.WaitingClientCreds;
    var storeId = (string)this.Context.GetRouteValue("storeId");
    var pluginUrl = this.Url.ActionAbsolute(Context.Request, nameof(Index), new { storeId = storeId }).AbsoluteUri;

    bool allStepsCompleted = Model.Step == ShopifySettingsViewModel.State.Done;
    bool expandClientApp = Model.Step == ShopifySettingsViewModel.State.WaitingClientCreds;
    bool expandDeploy = Model.Step == ShopifySettingsViewModel.State.WaitingForDeploy;
    bool expandInstall = !allStepsCompleted && Model.Step == ShopifySettingsViewModel.State.WaitingForInstall;

}
@section PageHeadContent {
    <link rel="stylesheet" href="~/vendor/highlightjs/default.min.css" asp-append-version="true">
}

<div class="row">
    <div class="sticky-header">
        <h2 class="my-1">
            @ViewData["Title"]
            <small>
                <a href="https://docs.btcpayserver.org/ShopifyV2/" target="_blank" rel="noreferrer noopener"
                   title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
            </small>
        </h2>
        <div>
            @if (Model.Step != ShopifySettingsViewModel.State.WaitingClientCreds)
            {
                <form method="post">
                    <button name="command" type="submit" class="btn btn-danger" value="Reset" text-translate="true">
                        Reset
                    </button>
                </form>
            }
        </div>
    </div>
    <partial name="_StatusMessage"/>
    <div class="col-xxl-constrain col-xl-8">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button @(expandClientApp ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="@expandClientApp" aria-controls="collapseOne">
                        <h5 class="d-flex content-center">
                            @if (Model.ClientCredsConfigured)
                            {
                                <vc:icon symbol="checkmark" css-class="text-success mr-1"></vc:icon>
                            }
                            else
                            {
                                <vc:icon symbol="cross" css-class="text-danger mr-1"></vc:icon>
                            }
                            <span>Setup the ClientId and ClientSecret</span>
                        </h5>
                        <vc:icon symbol="caret-down"/>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse @(expandClientApp ? "show" : "")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Go to the <a href="https://partners.shopify.com/" rel="noreferrer noopener" target="_blank">Shopify Partner portal</a>, then navigate to Apps → Create App → Create app manually → Create. Then, copy and paste the <a href="https://docs.btcpayserver.org/ShopifyV2/#set-up-a-shopify-app" rel="noreferrer noopener" target="_blank">Client ID and Client Secret</a>.</p>

                        <form method="post">
                            <div class="form-group">
                                <label asp-for="ClientId" class="form-label"></label>
                                <input asp-for="ClientId" class="form-control" readonly="@shopifyCredsSet" disabled="@shopifyCredsSet"/>
                                <span asp-validation-for="ClientId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ClientSecret" class="form-label"></label>
                                <input asp-for="ClientSecret" class="form-control" type="password" value="@Model?.ClientSecret"
                                       readonly="@shopifyCredsSet" disabled="@shopifyCredsSet"/>
                                <span asp-validation-for="ClientSecret" class="text-danger"></span>
                            </div>
                            @if (Model.Step == ShopifySettingsViewModel.State.WaitingClientCreds)
                            {
                                <button name="command" type="submit" class="btn btn-primary" value="SaveAppCredentials" text-translate="true">Save</button>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button @(expandDeploy ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="@expandDeploy" aria-controls="collapseTwo">
                        <h5>
                            @if (Model.AppDeployed)
                            {
                                <vc:icon symbol="checkmark" css-class="text-success mr-1"></vc:icon>
                            }
                            else
                            {
                                <vc:icon symbol="cross" css-class="text-danger mr-1"></vc:icon>
                            }
                            <span>Deploy the App</span>
                        </h5>
                        <vc:icon symbol="caret-down"/>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse @(expandDeploy ? "show" : "")" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @if (!Model.ClientCredsConfigured)
                        {
                            <span>Please complete the first step first</span>
                        }
                        else
                        {
                            <component param-AppName="@Model.AppName" param-PluginUrl="@pluginUrl" param-StoreId="@storeId" type="typeof(ShopifyDeploy)" render-mode="ServerPrerendered"/>
                        }
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button @(expandInstall ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="@expandInstall" aria-controls="collapseThree">
                        <h5>
                            @if (Model.AppInstalled)
                            {
                                <vc:icon symbol="checkmark" css-class="text-success mr-1"></vc:icon>
                            }
                            else
                            {
                                <vc:icon symbol="cross" css-class="text-danger mr-1"></vc:icon>
                            }
                            <span>Install the app on your Shopify's store</span>
                        </h5>
                        <vc:icon symbol="caret-down"/>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse @(expandInstall ? "show" : "")" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @if (!Model.AppDeployed)
                        {
                            <span>You need to complete the previous step first.</span>
                        }
                        else if (Model.AppInstalled)
                        {
                            <span>You installed this app on your Shopify store.</span>
                            <span>To start accepting payments, make sure to complete the following two steps.</span>
                            <ul>
                                <li><a href="https://docs.btcpayserver.org/ShopifyV2/#customize-the-thank-you-page" rel="noreferrer noopener" target="_blank">Customize the checkout's "Thank You" page</a> on your store's <a href="https://admin.shopify.com/store/@(Model.ShopName)/settings/checkout" rel="noreferrer noopener" target="_blank">checkout settings page</a>.</li>
                                <li><a href="https://docs.btcpayserver.org/ShopifyV2/#set-up-a-custom-payment-method-in-shopify" rel="noreferrer noopener" target="_blank">Add BTCPay Server as a manual payment method</a> on your store's <a href="https://admin.shopify.com/store/@(Model.ShopName)/settings/payments" rel="noreferrer noopener" target="_blank">payment settings page</a>.</li>
                                <li>Grant network access to your application. Go to your app on your partner's dashboard > API Access > scroll down to 'Allow network access in checkout and account UI extensions' and grant network access.</li>
                            </ul>
                        }
                        else
                        {
                            <div>
                                <p>Install your app by going to the <a href="https://partners.shopify.com/" rel="noreferrer noopener">Shopify Partner portal</a>, then click on the app => Distribution => Custom distribution. See <a href="https://docs.btcpayserver.org/ShopifyV2/" rel="noreferrer noopener" target="_blank">documentation</a> for further guidance.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section PageFootContent {
    <link rel="stylesheet" href="~/vendor/highlightjs/default.min.css" asp-append-version="true">
    <script>
        function RefreshPage()
        {
            location.reload();
        }
    </script>
}