@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.BitcoinRewards
@using BTCPayServer.Plugins.BitcoinRewards.Data.Models
@model List<BTCPayServer.Plugins.BitcoinRewards.Data.Models.FailedTransaction>
@{
    ViewData.SetActivePage(BitcoinRewardsPlugin.PluginNavKey, "Interrupted Transactions", "Configuration");
}

<h2 class="mb-2 mb-lg-3">@ViewData["Title"]</h2>
<partial name="_StatusMessage" />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th>InvoiceId</th>
            <th>Mint Url</th>
            <th>Unit</th>
            <th>Proof Amount</th>
            <th>Operation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
            <form method="POST" asp-action="PostFailedTransaction" asp-route-storeId="@ViewContext.RouteData.Values["storeId"]">
                <input type="hidden" name="failedTransactionId" value="@item.Id">
                <tr>
                    <td>@item.Id</td>
                    <td>@item.MintUrl</td>
                    <td>@item.Unit</td>
                    <td>@item.UsedProofs.Count</td>
                    <td>@(item.OperationType==OperationType.Swap?"Swap":"Melt")</td>
                    <td><button type="submit" class="btn btn-link p-0">Poll</button></td>
                </tr>
            </form>
        }
        </tbody>
    </table>
</div>

